:root { 
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --height-button-input: 3rem;
    --icon-size: 1.75rem;

    --color-backgroung: #d2cfe0;
    --color-button-purple: #7e57d9;
    --color-button-white: #fff;
    --color-text-purple: #7e57d9;
    --color-text-lighter: #9da2a9;
    --color-text-black-2: #555;
    --color-border: #ddd;

    --border-radius: 0.5rem;    
    
}

.componentHeader {
    padding: var(--space-1);
    border: 2px solid red;
    margin: var(--space-2) 0;
    font-size: 2rem;
}

* {
    font-family: sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
}

.app {
    padding: var(--space-4);
    background-color: var(--color-backgroung);
    height: 100vh;
}
.app .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.app .wrapper .left {
    max-width: 30rem;
    margin: 4rem auto;
    padding: 8rem;
}
.right {
    position: relative;
}
.right .image {
    width: 100%;
}
.right .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* utilty */
.m-t-1{margin-top: 1rem;}
.m-t-1-5{margin-top: 1.5rem;}
.m-t-2{margin-top: 2rem;}
.m-t-3{margin-top: 3rem;}
.m-t-4{margin-top: 4rem;}

/*-----------------------------------Text------------------------------*/
a{
    text-decoration: none;
    color: var(--color-text-purple);
    font-weight: bold;
}

p {
    color: var(--color-text-lighter);
}

.remember {   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remember .checkbox label {
    color: var(--color-text-black-2);
}
.remember .checkbox input {
    cursor: pointer;
    background-color: var(--color-button-purple);
}

/*---------------------------------input-------------------------------*/
.inputGroup .text {
    padding-bottom: var(--space-half);
    color: var(--color-text-black-2);
    font-weight: bold;
}
.inputGroup input {
    height: var(--height-button-input);
    border-radius: var(--border-radius);
    border:2px solid var(--color-border);
    padding-left: var(--space-1);
    font-size: 1rem;
    width: 100%;
}
.inputGroup.error .text {
    color: red;
}
.inputGroup .error {
    display: none;
    color: red;
}
.inputGroup.error .error{
    display: block;
}
.inputGroup.error input {
    border-color: red;
}

/*---------------------------------button-------------------------------*/
button {
    background: var(--color-button-purple);
    height: var(--height-button-input);
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-half);
    background: var(--color-button-white);
    border: 2px solid var(--color-border);
    color: var(--color-text-black-2);
}

.button button .icon {
    height: var(--icon-size);
    width: var(--icon-size);
}
.button button .icon img {
    width: 100%;
}