:root {
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --space-4: 4rem;

    --input-button-height: 4rem;
    --color-button-disabled: #1a4a82;
    --color-button-enabled: #2972c6;
    --color-text-white: #fff;
    --color-text-lighter: #999;
    --border-radius: 0.5rem;
    --border: 2px solid #999;
    --icon-top-size: 3rem;
    --icon-eye-size: 2rem;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    background-color: #111;
}
.componentHeader {
    color: var(--color-text-white);
    border: 2px solid #fff;
    padding: var(--space-1);
    margin: var(--space-2) 0;
}
.wrapper {
    min-height: 100vh;
}
.wrapper .app {
    text-align: center;
    width: 30rem;
    margin: 5rem auto;
    background-color: #222;
    padding: var(--space-4);
    border-radius: var(--border-radius);
    display: none;
}
.wrapper .app.show {
    display: block;
}

/*--------------------------------text-utility-----------------------------*/
h2 {
    color: var(--color-text-white);
}
a {
    color: var(--color-text-white);
}

p {
    color: var(--color-text-lighter)
}

.m-t-1 {margin-top: 1rem;}
.m-t-1-5 {margin-top: 1.5rem;}
.m-t-2 {margin-top: 2rem;}
.m-t-2-5 {margin-top: 2.5rem;}
.m-t-3 {margin-top: 3rem;}
.m-t-4 {margin-top: 4rem;}
.m-t-5 {margin-top: 5rem;}

/*--------------------------------Top Icon-----------------------------*/
.icon {
    width: var(--icon-top-size);
    height: var(--icon-top-size);
    margin: 0 auto;
}
.icon img {
    width: 100%;
    filter: invert(1);
}
/*--------------------------------input groups-----------------------------*/
.inputGroup {
    position: relative;
}
.inputGroup .label {
    position: absolute;
    top: calc(var(--input-button-height) / 2);
    transform: translateY(-50%);
    left: var(--space-1);
    color: var(--color-text-lighter);
}
.inputGroup input:not(:placeholder-shown) ~ .label {
    top: 1.25rem;
}
.inputGroup .icon {
    height: var(--icon-eye-size);
    width: var(--icon-eye-size);
    position: absolute;
    top: calc(var(--input-button-height) / 2);
    transform: translateY(-50%);
    right: var(--space-1);
}
.inputGroup .icon.eye {
    display: none;
}
.inputGroup .icon.eye.active {
    display: block;
}
.inputGroup .icon img {
    width: 100%;
    filter: invert(1);
}
.inputGroup input {
    height: var(--input-button-height);
    width: 100%;
    border: none;
    background: none;
    color: var(--color-text-white);
    border: var(--border);
    border-radius: var(--border-radius);
    padding-left: var(--space-1);
    padding-top: var(--space-1);
    outline: none;
}
.inputGroup.error input {
    border-color: red;
}
.inputGroup .error {
    display: none;
}
.inputGroup.error .error {
    color: red;
    display: block;
}

/*--------------------------------remember-----------------------------*/
.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remember .left {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}
/*--------------------------------remember-----------------------------*/
button {
    height: var(--input-button-height);
    background: var(--color-button-disabled);
    width: 100%;
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-text-lighter);
    cursor: not-allowed;
}
button.enabled {
    background: var(--color-button-enabled);
    color: var(--color-text-white);
    cursor: pointer;
}