:root {
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --image-border-radius: 100%;
    --image-size: 4rem;
    --font-size-header: 2rem;
    --font-size-text: 1.2rem;
    --font-weight: bolder;
}

html, body {
    font-family: sans-serif;
}
.mainContainer .header {
    font-size: var(--font-size-header);
    font-weight: var(--font-weight);
    border-bottom: 1px solid #444;
    padding-bottom: var(--space-2);
}

.mainContainer {
    max-width: 1000px;
    padding: var(--space-2);
    margin: 0 auto;
}
.mainContainer .grid {
    padding-top: var(--space-1);
    display: grid;
    gap: var(--space-1);
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 500px) {
    .mainContainer .grid {
        grid-template-columns: 1fr;
    }
    .mainContainer .header {
        font-size: 1.2rem;
    }
    
    
}
@media (min-width: 800px) {
    .mainContainer .grid {
        grid-template-columns: 1fr 1fr 1fr;

    }
    .mainContainer .header {
        font-size: 2.5rem;
    }
    
    
}
.mainContainer .item {
    display: flex;
    align-items: center;
    padding: var(--space-half);
    gap: 0.8rem;
    font-size: var(--font-size-text);
    cursor: pointer;
}
.mainContainer .item .text {
    border-bottom: 1px solid transparent;
}
.mainContainer .item .text:hover {
    border-bottom: 1px solid rgb(101, 101, 101);
}
.mainContainer .item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.mainContainer .item .background .image {
    width: var(--image-size);
    height: var(--image-size);
    background-color: red;
    
}
.mainContainer .item .image {
    background-image: url(../../images/background_coffee.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--image-border-radius);
    
}