:root {
   --space-1: 1rem;
   --space-2: 2rem;
   --space-3: 3rem;

   --color-btn-add: green;
   --color-btn-delete: red;

   --border: 2px solid #fff;
   --text-bold: bolder;
   --text-size-larger: 1.25rem;
   --border-radius: 0.25rem;
}

.compHead {
   border-left: var(--border);
   border-bottom: var(--border);
   padding: var(--space-1);
   margin-bottom: var(--space-1);
   margin-top: var(--space-2);
}
* {
   color: #fff;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
html, body {
   background: #555;
}
.container {
   min-height: 100vh;
}
.app {
   width: 30rem;
   margin: 5rem auto;
}


/* utility */
.m-t-1 {margin-top: 1rem}
.m-t-2 {margin-top: 2rem}
.m-t-3 {margin-top: 3rem}

.center-text{text-align: center;}
/*------------input------------*/
input {
   width: 100%;
   height: var(--space-3);
   border-radius: var(--border-radius);
   border: none;
   background: #fff;
   color: #000;
   padding-left: var(--space-1);
   font-size: var(--text-size-larger);
}
/*------------buttons------------*/
button {
   height: var(--space-3);
   border-radius: 0.25rem;
   border: none;
   padding: 0 var(--space-1);
   cursor: pointer;
}
button:hover {
   filter: brightness(150%);
}
button#add {
   background: var(--color-btn-add);
}
button#delete {
   background: var(--color-btn-delete);
}
/*-----------input-btn---------- */
.group {
   display: flex;
   gap: var(--space-1);
}

/*------------list item---------- */
ul {
   list-style-type: none;
}
ul li.item {
   margin-top: 1rem;
   background: #888;
   padding: 0.5rem var(--space-1);
   border-radius: 0.25rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
