:root {
   --space-0-5: 0.5rem;
   --space-1: 1rem;
   --space-2: 2rem;
   --space-3: 3rem;

   --height-input-button: 2rem;
   --color-btn-add: green;
   --color-btn-dlt: red;
   --color-bg: #999;
   --color-bg-2: #777;
   --color-bg-item: #444;
   --color-white: #fff;
   --border: 2px solid #fff;
   --font-family: sans-serif;
   --percent-100: 100%;
   --width-app: 45rem;
}
* {
   margin: 0;
   padding: 0;
   font-family: var(--font-family);
   color: var(--color-white);
}
html, body {
   background: var(--color-bg);
   padding: var(--space-1);
}
.compHead {
   border-left: var(--border);
   border-bottom: var(--border);
   padding: var(--space-1);
   margin-top: var(--space-2);
   margin-bottom: var(--space-1);
}
.container {
   min-height: 100vh;
}
.app {
   background: var(--color-bg-2);
   padding: var(--space-2);
   border-radius: var(--space-1);
   width: var(--width-app); 
   margin: 5rem auto;
}
/* utility */
.m-t-1 {margin-top: 1rem}
.m-t-2 {margin-top: 2rem}
.m-t-3 {margin-top: 3rem}
.m-t-4 {margin-top: 4rem}
.center {text-align: center;}

/*------------------------------------------------------
| input / buttons
------------------------------------------------------*/
input, button {
   height: var(--height-input-button);
   border: none;
   border-radius: var(--space-0-5)
}
button {
   cursor: pointer;
}
button:hover {
   filter: brightness(150%);
}
input {
   width: 100%;
   color: #000;
   padding-left: var(--space-0-5);
}
.add, .delete{
   padding: 0 var(--space-0-5);
}
.add {
   background: var(--color-btn-add);
}
.delete {
   background: var(--color-btn-dlt);
}
/*------------------------------------------------------
| items
------------------------------------------------------*/
ul.items {
   list-style-type: none;
}
ul.items li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: var(--color-bg-item);
   margin-bottom: var(--space-1);
   padding: var(--space-0-5);
   border-radius: var(--space-0-5)
}

/*------------------------------------------------------
| input / add
------------------------------------------------------*/
.top {
   display: flex;
   gap: var(--space-1);
}