:root {
    --border: 2px solid black;
}

.wrapper {
    display: flex;
    gap: 5rem;
    padding: 5rem;
}
.border {
    border: var(--border);
}
button {
    margin-bottom: 1rem;
}

/* ----------------------second------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}



/* ----------------------third------------------------------- */

img {
    display: none;
    width: 10rem;
    height: 15rem;
}
.show {
    display: block;
}
.buttons {
    text-align: center;
    padding-top: 1rem;
}