:root {
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --space-4: 4rem;
    --space-4-5: 4.5rem;
    --size-icon-dino: 8rem;
    --size-input-button: 2.5rem;
    --color-error: red;
    --border: 1px solid #444;
    --color-button-disabled: #a584e3;
    --color-button-enabled: #804be2;
    --color-text-lighter: #555;
    --color-text-white: #fff;
    --color-background-app: #fff;
    --color-background-page: #eee;
    --bold-text: bold;
    --border-radius: 0.25rem;
    --size-app: 20rem;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    background-color: var(--color-background-page);

}
.wrapper {
    min-height: 100vh;
    
}
.wrapper .app {
    width: var(--size-app);
    background: var(--color-background-app);
    padding: var(--space-3);
    margin: 5rem auto;
    display: none;
}
.wrapper .app.show {
    display: block;
}
.component {
    padding: var(--space-1);
    margin: var(--space-2) 0;
    border: 2px solid #000;
}

/*-----------------text/utillity-----------------*/
a {
    color: var(--color-button-disabled);
}
a:hover {
    color: var(--color-button-enabled);
}
.center {
    text-align: center;
}
.text {
    text-align: center;
    padding-top: var(--space-0-5);
    color: var(--color-error);
    display: none;
}
.text.wrong {
    display: block;
}

.m-t-1 {margin-top: 1rem;}
.m-t-2 {margin-top: 2rem;}
.m-t-2-5 {margin-top: 2.5rem;}
.m-t-3 {margin-top: 3rem;}
.m-t-4 {margin-top: 4rem;}
.m-t-5 {margin-top: 5rem;}
.m-t-6 {margin-top: 6rem;}
/*-----------------------------------icon------------------------------*/
.icon {
    width: var(--size-icon-dino);
    height: var(--size-icon-dino);
    margin: 0 auto;
}
.icon img {
    width: 100%;
}
/*-----------------------------------input------------------------------*/
.inputGroup {
    position: relative;
}
.inputGroup input {
    width: 100%;
    height: var(--size-input-button);
    border: none;
    border: var(--border);
    border-radius: var(--border-radius);
    padding-left: var(--space-0-5);
}
.inputGroup .label {
    position: absolute;
    top: -1.5rem;
    font-weight: var(--bold-text);
}
.inputGroup .error {
    color: var(--color-error);
    display: none;
}
.inputGroup.error .error {
    display: block;
}
.inputGroup.error input {
    border-color: var(--color-error);
    border: 2px solid red;
}
.inputGroup.error .label {
    color: var(--color-error);
}
/*-----------------------------------button------------------------------*/
button {
    width: 100%;
    border: none;
    background-color: var(--color-button-disabled);
    height: var(--size-input-button);
    border-radius: var(--border-radius);
    color: var(--color-text-white);
    cursor: not-allowed;
}
button.enabled {
    background: var(--color-button-enabled);
    cursor: pointer;
}