html, body {
    background-color: #444;
    font-family: sans-serif;
}

.mainContainer{
    max-width: 1000px;
}

/*------------------------------------------------------------------------
| top 
------------------------------------------------------------------------*/
.topLayout{
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
}
.top {
    width: 27rem;
    height: 25rem;
    background-image: url("../../images/background_adobe_card.jpg");
    position: relative;
    background-size: cover;
}

.top .icon .image {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background:#06010166 url("../../images/icons/icon_coffee.png" ) ;
    background-size: 30%, cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

/*------------------------------------------------------------------------
| BOTTOM 
------------------------------------------------------------------------*/

.bottom {
    background-color: tan;
}