:root {
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --icon-container-size: 12rem;
    --icon-container-height: 8rem;
    --icon-size: 5rem;
    --highlight-widht: 8rem;
    --left-right-width: 5.5rem;
    --font-bold: bolder;
    --font-weight-header: 400;
    --line-color: #ddd;
    --highlight-color-left: linear-gradient(to right, #64bbe6, #d3acf5);
    --highlight-color-right: linear-gradient(to right, #e798f1, #ce07fb);
    --color-icon-highlight: rgb(218, 15, 218);
    --box-shadow: 0 5px 10px rgb(206, 88, 206, 0.5),
                    5px 8px 20px rgb(206, 88, 206, 0.5),
                    -5px 10px 30px rgb(206, 88, 206, 0.5);
    --textBox-size: 50rem;
}
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.component {
    border: 2px solid #000;
    padding: var(--space-1);
    margin: var(--space-2) 0;
}
.wrapper .app .grid {
    position: relative;
    width: 72rem;
    margin: 5rem auto;
}
.wrapper .app .grid .highlight {
    position: absolute;
    top: var(--icon-container-height);
    left: 0;
}

.wrapper .app .textBox .titles .title {
    display: none;
}
.wrapper .app .textBox .titles .title.showTitle {
    display: block;
}


/* text/utility */
.m-t-1 {margin-top: 1rem;}
.m-t-2 {margin-top: 2rem;}
.m-t-3 {margin-top: 3rem;}
.m-t-4 {margin-top: 4rem;}
.m-t-5 {margin-top: 5rem;}
/*----------------------------------------------action group-------------------------*/
.actionGroup {
    max-width: var(--icon-container-size);
    cursor: pointer;
}
.actionGroup.iconHighlight .top{
    color: var(--color-icon-highlight);
}
.actionGroup .top {
    width: var(--icon-container-size);
    height: var(--icon-container-height);
}
.actionGroup .top .icon {
    font-size: var(--icon-size);
    text-align: center;
}
.actionGroup .line {
    display: flex;
    align-items: center;
}
.actionGroup .line .right, 
.actionGroup .line .left {
    height: 4px;
    width: var(--left-right-width);
    background-color: var(--line-color);
}
.actionGroup .line .middle {
    font-size: 1rem;
    font-weight: bolder;
    color: var(--line-color);
} 
.actionGroup .text {
    text-align: center;
    padding-top: var(--space-2);
}
.actionGroup.iconHighlight .text {
    font-weight: var(--font-bold);
}

/*----------------------------------------------highlight-------------------------*/
.highlight {
    width: var(--icon-container-size);
    display: flex;
    align-items: center;
}
.highlight .right,
.highlight .left {
    height: 4px;
    width: var(--left-right-width);
    background: var(--highlight-color-left);
}
.highlight .right{
    background: var(--highlight-color-right);
}
.highlight .middle {
    color: var(--color-icon-highlight);
}
/*----------------------------------------------grid-------------------------*/
.grid {
    display: grid;
    grid-template-columns: var(--icon-container-size) var(--icon-container-size) var(--icon-container-size) var(--icon-container-size) var(--icon-container-size) var(--icon-container-size);
    justify-content: center;
}

.grid .item {
    text-align: center;
}
/*----------------------------------------------text box-------------------------*/
.textBox {
    width: var(--textBox-size);
    box-shadow: var(--box-shadow);
    margin: 5rem auto;
    border-radius: 0.5rem;
    padding: var(--space-2);
    line-height: var(--space-2);
}
.textBox h3 {
    padding-bottom: var(--space-1);
}
