:root {
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --color-line: #ccc;
    --color-highlight-right: linear-gradient(to left, #e66494, rgb(255, 4, 255));
    --color-highlight-left: linear-gradient(to right, #e66494, rgb(255, 4, 255));
    --box-shadow: 0px 10px 30px rgb(252, 3, 252, 0.5);
    --font-bold: bolder;
    --size-upper-icon-container-width: 12rem;
    --size-upper-icon-container-height: 6rem;
    --size-upper-icon: 4rem;
    --size-dots: 1rem;
    --size-line-left-right: 5.5rem;
    --color-purple: rgb(251, 3, 251);
    --gid: 12rem;
    --text-box-width: 45rem
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.component {
    border: 2px solid #000;
    padding: var(--space-1);
    margin: var(--space-2) 0;
}

.wrapper {
    min-height: 100vh;
    padding-top: var(--space-4);
}
.wrapper .app .grid {
    margin: 0 auto;
    position: relative;
    width: 72rem;
}
.wrapper .app .grid .highlight {
    position: absolute;
    top: var(--size-upper-icon-container-height);
    left: 0;
}
/*----------------------action group---------------------*/
.actionGroup {
    width: var(--size-upper-icon-container-width);
    text-align: center;
    cursor: pointer;
}
.actionGroup .top {
    width: var(--size-upper-icon-container-width);
    height: var(--size-upper-icon-container-height);
}
.actionGroup .top .icon i {
    font-size: var(--size-upper-icon);
}
.actionGroup .middle {
    display: flex;
    align-items: center;
    color: var(--color-line);
    font-weight: bolder;
}
.actionGroup .middle .right,
.actionGroup .middle .left {
    height: 5px;
    width: var(--size-line-left-right);
    background: var(--color-line);
}
.actionGroup .bottom {
    padding-top: var(--space-1-5);
}
.actionGroup.active .top .icon {
    color: var(--color-purple);
}
.actionGroup.active .bottom .label {
    font-weight: bolder;
}

/*-----------------------highlight---------------------*/
.highlight {
    transition: all 0.1s;
    display: flex;
    align-items: center;
    color: var(--color-purple);
}
.highlight .right,
.highlight .left {
    height: 5px;
    width: var(--size-line-left-right);
}
.highlight .right {
    background: var(--color-highlight-right);
}
.highlight .middle {
    border-radius: 100%;
    box-shadow: 0px 0px 1px 8px rgb(132, 60, 246, 0.2);
}
.highlight .left {
    background: var(--color-highlight-left);
}
/*-----------------------grid---------------------*/
.grid {
    display: grid;
    grid-template-columns: var(--gid) var(--gid) var(--gid) var(--gid) var(--gid) var(--gid);
    justify-content: center;
}
.grid .item {
    text-align: center;
}

/*-----------------------text box---------------------*/
.textBox {
    width: var(--text-box-width);
    box-shadow: var(--box-shadow);
    margin: 5rem auto;
    padding: var(--space-2);
}
.textBox .title {
    padding-bottom: var(--space-2);
    display: none;
}
.textBox .text {
    line-height: var(--space-2);
}
.textBox .title.show {
    display: block;
}