:root {
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --space-3-5: 3.5rem;
    --space-4: 4rem;
    --space-4-5: 4.5rem;
    --icon-size: 3rem;
    --color-text-lighter: #444;
    --color-text-black: #000;
    --font-weight: bolder;
    --box-shadow: 2px 10px 20px rgba(8, 7, 7, 0.5);
    --iconGroup-width: 8rem;
    --image-hieght: 5rem;
}
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
}
.wrapper .app {
    padding: var(--space-2);
    position: relative;
}
.wrapper .app .grid {
    justify-content: center;
}

.component {
    padding: var(--space-1);
    margin: var(--space-2) 0;
    border: 2px solid #000;
}

/* text/ utility */
.m-t-1 {margin-top: 1rem;}
.m-t-2 {margin-top: 2rem;}
.m-t-3 {margin-top: 3rem;}
.m-t-4 {margin-top: 4rem;}
.m-t-5 {margin-top: 5rem;}
/*----------------------------------icon groups-------------------*/
.iconGroup {
    text-align: center;
    height: 10rem;
    position: relative;
}
.iconGroup .icon {
    font-size: var(--icon-size);
    height: var(--image-hieght);
}
.iconGroup .icon i{
    color: #999;
}
.iconGroup .text {
    padding-top: var(--space-2);
    width: 5rem;
    text-align: center;
    margin: 0 auto;
}
.line {
    height: 4px;
    background-color: #ddd;
    width: 100%;
    top: var(--icon-size);
}
.line i {
    margin: -0.35rem;
    z-index: 100;
    color: #ddd;
    cursor: pointer;
}
.line i:hover {
    color: red;
}
.highlight {
    position: absolute;
    width: var(--iconGroup-width);
    height: 4px;
    left: 1.8rem;
    top: var(--image-hieght);
    background-color: red;
}
.iconGroup.selected #dot {
    color: red;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 6px rgba(0, 0, 0, 0.15);
}
.iconGroup.selected i {
    color: red;
}
.iconGroup.selected .text {
    font-weight: bolder;
}

.item {
    cursor: pointer;
}
.title {
    display: none;
}
.title.show {
    display: block;
}
/*----------------------------------text box-------------------*/
.textBox {
    border: 2px solid #eee;
    padding: var(--space-2);
    box-shadow: var(--box-shadow);
    width: 35rem;
    margin: var(--space-3) auto;
}
.textBox h3 {
    padding-bottom: var(--space-1);
}
/*----------------------------------grid-------------------*/
.grid {
    display: grid;
    grid-template-columns: var(--iconGroup-width) var(--iconGroup-width) var(--iconGroup-width) var(--iconGroup-width) var(--iconGroup-width) var(--iconGroup-width);
    text-align: center;
    position: relative;
}

