:root{
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-2-5: 2.5rem;
    --space-3: 3rem;
    --header-font: 2rem;
    --font-time: 1.2rem;
    --font-white: #fff;
    --content-size: 1.5rem;
    --border-radius: 0.5rem;
}
html, body {
    padding: 0;
    margin: 0;
    background: #444;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainContainer {
    padding: var(--space-2);
    background-color: #fff;
    margin-bottom: var(--space-1);
}
/* ------------------------------ */
/* header */
/* ------------------------------ */

.mainContainer .header {
    font-size: var(--header-font);
    font-weight: bolder;
    padding-bottom: var(--space-2);
}

/* ------------------------------ */
/* Grid */
/* ------------------------------ */
.mainContainer .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 18rem;
    gap: var(--space-3);
}

.mainContainer .gridContainer .gridItem {
    color: var(--font-white);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-size: cover;
}

/* ------------------------------ */
/* faded background */
/* ------------------------------ */

.mainContainer .gridContainer .gridItem .bgFade {
    background: linear-gradient(rgba(0,0,0, 0.1), #000);
    height: 100%;
    position: relative;
}

/* ------------------------------ */
/* content */
/* ------------------------------ */

.mainContainer .gridContainer .gridItem .bgFade .onDemand {
    font-weight: bolder;
    background-color: #4e9b7a;
    color: #000;
    display: inline;
    position: absolute;
    top: var(--space-1-5);
    right: 0;
    padding: var(--space-1) var(--space-1-5);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.mainContainer .gridContainer .gridItem .bgFade .content {
    position: absolute;
    bottom: var(--space-3);
    left: var(--space-2);
}
.mainContainer .gridContainer .gridItem .bgFade .content .text {
    font-size: var(--content-size);
    font-weight: bolder;
    padding-bottom: var(--space-1);
}
.mainContainer .gridContainer .gridItem .bgFade .content .time {
    font-weight: ;
    font-size: var(--font-time);
}



/* ------------------------------ */
/* utility */
/* ------------------------------ */

.bg1 {
    background-image: url('../../images/three_cards/purple_background.png');
}
.bg2 {
    background-image: url('../../images/three_cards/orange_background.png');
}
.bg3 {
    background-image: url('../../images/three_cards/blue_background.png');
}