:root {
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --border-left: 5px solid rgba(0, 0, 0, 0.7);
    --border-radius: 0.25rem;
    --icon-size: 1.5rem;
    --color-red: #e60012;
    --color-font: rgba(0, 0, 0, 0.7);
    --color-link: #4171de;
    --app-width: 50rem;
}


html {
    font-size: 0.8rem;
    color: var(--color-font);
    background-color: rgba(0, 0, 0, 0.05);
}


* {
    font-family: sans-serif;

}


.app {
    max-width: var(--app-width);
    align-items: center;
    padding: var(--space-2) var(--space-6);
    border: 8px solid #fff;
    border-radius: 0.5rem;
    margin: 5rem auto;
}


/* utilties */

.m-t-half{margin-top: 0.5rem;}
.m-t-1{margin-top: 1rem;}
.m-t-2{margin-top: 2rem;}
.m-t-3{margin-top: 3rem;}

.center {
    text-align: center;
}



.componentHeader {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.5rem;
    margin: 2rem 0;
}

/*----------------------------------------------------
| text
----------------------------------------------------*/
.label {
    border-left: var(--border-left);
    padding-left: var(--space-half);
    line-height: 1rem;

}

a{
    color: var(--color-link);
}

/*----------------------------------------------------
| row
----------------------------------------------------*/

.row {
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-3);
}
.row .left {
    flex: 1;
    margin-top: 0.75rem;
}
.row .right {
    flex: 2;
}
@media (max-width:800px) {
    .row {
        display: block;
        padding-top: var(--space-2);
    }
    .row .left {
        padding-bottom: var(--space-1);
    }

    
}
/*----------------------------------------------------
| input
----------------------------------------------------*/

.input {}

.input {
    position: relative;
}

.input input {
    width: 100%;
    padding-left: var(--space-half);
    border-radius: var(--border-radius);
    border: 2px solid #eee;
    padding: var(--space-half);
}

.input .icon {
    height: var(--icon-size);
    width: var(--icon-size);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0.5rem;


}

.input .icon img {
    width: 100%;

}


/*----------------------------------------------------
| 3 input
----------------------------------------------------*/

.threeInputs {
    display: flex;
    gap: 0.5rem;
}

.threeInputs .item {
    flex: 1;
}


/*----------------------------------------------------
| check box
----------------------------------------------------*/

.checkBox {
    display: flex;
    gap: var(--space-half);
    padding-top: var(--space-2);
    
}

.checkBox .icon {
    min-width: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}

.checkBox .icon img {
    width: 100%;
}
.checkBox .icon img.image2 {
    display: none;
}

.checkBox.checked .icon img.image2 {
    display: block;
}
.checkBox.checked .icon img.image1 {
    display: none;
}

/*----------------------------------------------------
| button
----------------------------------------------------*/

button {
    background-color: var(--color-red);
    border: none;
    padding: var(--space-1) var(--space-4);
    border-radius: 2rem;
    color: #eee;
    font-weight: bolder;
}

button:hover {
}