:root {
   --space-0_5: 0.5rem;
   --space-1: 1rem;
   --space-1_5: 1.5rem;
   --space-2: 2rem;
   --space-3: 3rem;
   --space-4: 4rem;
   --space-5: 5rem;
   --space-6: 6rem;

   --color-white: #fff;
   --color-purple: #636ae9;
   --color-red: #db514b;
   --color-bg: #0d0f18;
   --color-bg-2: #161821;
   --color-grey: #a0a1a5;

   --border-button-white: 1px solid #4e5157;
   --border-button-red: 1px solid #572b2e;

   --border-radius: .5rem;
   --border-radius-2: 0.25rem;

   --size-icon: 6.5rem;
   --size-app-width: 60rem;
   --size-modal-width: 30rem;
}
* {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}

html, body {
   background: var(--color-bg);
   padding: var(--space-1);
   color: var(--color-white);
}
.component {
   border-bottom: 2px solid #fff;
   border-left: 2px solid #fff;
   padding: 1rem;
   margin: 2rem 0;
}

.app {
   max-width: var(--size-app-width);
   margin: 5rem auto;
}

.app .modal {
   display: fixed;
   top: 0;
}
.modal {
}

/*-------------------------------text/utility-----------------------*/
.purple {
   color: var(--color-purple);
} 
.danger {
   color: var(--color-red);
   border-color: var(--color-red);
}
.grey {
   color: var(--color-grey);
}
.primary {
   background: var(--color-purple);
   border: none;
}
.m-t-1 {margin-top: 1rem;}
.m-t-2 {margin-top: 2rem;}
.m-t-3 {margin-top: 3rem;}
.m-t-4 {margin-top: 4rem;}
/*-------------------------------buttons-----------------------*/
button {
   color: var(--color-white);
   border: var(--border-button-white);
   border-radius: var(--border-radius);
   background: none;
   padding: var(--space-1) var(--space-2);
   cursor: pointer;
   
}
button:hover {
   filter: brightness(150%);
} 
/*-------------------------------cards-----------------------*/
.cardsComponent .card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: var(--color-bg-2);
   padding: var(--space-1_5);
   border-radius: var(--border-radius)
}
.cardsComponent .card .left {
   display: flex;
   align-items: center;
   gap: var(--space-2);
}
.cardsComponent .card .left .icon {
   width: var(--size-icon);
}
.cardsComponent .card .left .icon img {
   width: 100%;
}
/*-------------------------------inputGroups-----------------------*/

.inputGroup select,
.inputGroup input {
   width: 100%;
   margin-top: var(--space-0_5);
   padding: var(--space-1);
   border-radius: var(--border-radius)
}
