:root {
    --space-half: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;

    --img-width: 14rem;
    --img-height: 20rem;

}


html, body { 
    background-color: #000;
    font-family: sans-serif;
}

.app {
    max-width: 1400px;
    margin: 5rem auto;
}

.input-group {
    display: flex;
    gap: var(--space-1);
    padding: var(--space-2);
}


.input-group input {
    width: 100%;
    padding: var(--space-1);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    
}
.input-group button {
    border-radius: 0.5rem;
    border: none;
    padding: 0 var(--space-1);
    background-color: #ddd;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}
.input-group button:hover {
    background-color: #fff;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-1-5);
    max-width: 100%;
    padding:  0 var(--space-2);
    align-items: center;
}

li {
    background-color: #ddd;
    padding: var(--space-2) 0;
    max-width: 20rem;
    height: 22rem;
    text-align: center;
    border-radius: 0.5rem;
}
li .text {
    font-size: 1.5rem;
    overflow: hidden;
    max-width: var(--img-width);
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: var(--space-half);
}
li .image {
    margin: 0 auto;
    max-width: var(--img-width);
    max-height: var(--img-height);
    overflow: hidden;
    border-radius:0.5rem;
}
li .image img {
    border-radius:0.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


@media (max-width:1200px){
    ul {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        max-width: 100%;
    }
    
    
}
@media (max-width:880px){
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }
    .input-group input {
        padding: var(--space-half);
    }
    
    
}
@media (max-width:600px){
    ul {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .input-group input {
        padding: var(--space-half);
        width: 16rem;
    }
    
    
}