:root {
    --spcae-half: 0.5rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --font-color-darker: #999;
    --font-size-header: 1.8rem;
}
html, body {
    font-family: sans-serif;
    background: #444;
    padding: 0;
    margin: 0;
    color: #fff;
}

.mainContainer {
    background: #000;
    margin-bottom: 5rem;
    padding: var(--space-2);
}
.mainContainer .head .start {
    color: var(--font-color-darker);
    padding-bottom: .3rem;
}
.mainContainer .head .header {
    font-size: var(--font-size-header);
    padding-bottom: var(--space-1-5);
}
.mainContainer .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: var(--space-1);
}
.mainContainer .cardContainer .card {
    display: flex;
    align-items: center;
}
.mainContainer .cardContainer .card .image {
    padding-right: var(--space-1);
}
.mainContainer .cardContainer .card .image img{
    width: 3rem;

}

.mainContainer .cardContainer .card .description .title {
    padding-bottom: var(--spcae-half);
    
}
.mainContainer .cardContainer .card .description .artist {

    color: var(--font-color-darker);
}

.mainContainer .cardContainer .card .actions {
    display: flex;
    gap: 2rem;
    padding-left: var(--space-2);
}