:root {
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --color-white: #fff;
    --color-light-black: #aaa;
    --flex-buttons: space-between;
    --center-buttons: auto;
    --size-font-larger: 1.25rem;
}

* {
    padding: 0 ;
    margin: 0 ;
    font-family: monospace;
}




/*---------------------------images------------------------*/
.slider {
    position: relative;
    overflow: hidden;
    height: 30rem;
    background-color: red;
    color: var(--color-white);
}
.slider .slides {
    display: flex;
    width: 300%;
    position: absolute;
    left: ;
}
.slider .slides .slide {
    width: 100%;
    background-color: red;
    height: 30rem;
    overflow: hidden;
    position: relative;
}
.slider .slides .slide img {
    width: 100%;
}
.slider .slides .slide .content {
    position: absolute;
    bottom: var(--space-4);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slider .slides .slide .content .title {
    padding-bottom: var(--space-2);
}
.slider .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; 
    top: 0;   
}
.slider .buttons .left,
.slider .buttons .right {
    height: 30rem;
    display: flex;
    align-items: center;
    background-color: red;
    font-size: 3rem;
    width: 8rem;
    color: var(--color-light-black);
    cursor: pointer;
}
.slider .buttons .right:hover,
.slider .buttons .left:hover {
    color: var(--color-white);
}

.slider .buttons .left {
    background: linear-gradient(to left, rgb(0, 0, 0, 0.01), rgb(0, 0, 0, 0.9));
}
.slider .buttons .right {
    background: linear-gradient(to right, rgb(0, 0, 0, 0.01), rgb(0, 0, 0, 0.9));
}
.slider .buttons .left i,
.slider .buttons .right i {
    margin: var(--center-buttons);
}
.slider .dots {
    position: absolute;
    display: flex;
    gap: var(--space-1);
    bottom: var(--space-1);
    left: 50%;
    transform: translateX(-50%);
}
.slider .dots .solid {
    display: none;
}
.slider .dots.dot0 #dot0 .hollow {
    display: none;
    
}
.slider .dots.dot0 #dot0 .solid {
    display: block;
}
.slider .dots.dot1 #dot1 .hollow {
    display: none;
    
}
.slider .dots.dot1 #dot1 .solid {
    display: block;
}
.slider .dots.dot2 #dot2 .hollow {
    display: none;
    
}
.slider .dots.dot2 #dot2 .solid {
    display: block;
}