:root {
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --space-5: 5rem;
    --space-6: 6rem;
    --space-7: 7rem;
    --space-8: 8rem;
    --color-white: #fff;
    --color-black-lighter: #aaa;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
.app {
    height: 100vh;
}

.slideShow {
    padding-top: calc(4/12 * 100%);
    width: 100%;
    position: relative;
}
.slideShow .slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slideShow .slider .slides {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    transition: all 0.75s;
}
.slideShow .slider .slides img {
    object-fit: cover;
    width: 100vw;
    height: 100%;

}
.slideShow .slider .slides .slide .lowerContent {
    position: absolute;
    bottom: var(--space-6);
    color: #fff;
}
h2 {
    padding-bottom: var(--space-2);
}
.slideShow .slider .slides .slide #content1 {
    left: 50%;
    transform: translateX(-50%);
}
.slideShow .slider .slides .slide #content2 {
    left: 150%;
    transform: translateX(-50%);
}
.slideShow .slider .slides .slide #content3 {
    left: 250%;
    transform: translateX(-50%);
}

.slideShow .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black-lighter);
    font-size: 2rem;
}
.slideShow .buttons .left,
.slideShow .buttons .right {
    height: 100%;
    background-color: red;
    display: flex;
    width: 8rem;
    cursor: pointer;
}
.slideShow .buttons .left i,
.slideShow .buttons .right i{
    margin: auto;
}

.slideShow .buttons .right {
    background: linear-gradient(to right, rgb(0, 0, 0, 0.01), rgb(0, 0, 0));
}
.slideShow .buttons .left{
    background: linear-gradient(to left, rgb(0, 0, 0, 0.01), rgb(0, 0, 0));
    
}
.slideShow .buttons .right:hover i {
    color: var(--color-white);

}
.slideShow .buttons .left:hover i {
    color: var(--color-white);
}
.slideShow .dots {
    position: absolute;
    bottom: var(--space-2);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: var(--space-0-5);
    
}
.slideShow .dots .dot #solid {
    display: none;
}


.slideShow .dots .dot.solid #hollow {
    display: none;
}
.slideShow .dots .dot.solid #solid {
    display: block;
}
