:root {
    --space-1: 1rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-4: 4rem;
    --color-white: #fff;
    --color-button: #aaa;
    --aspect-ratio: calc(9/16 * 100%)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    padding-top: var(--aspect-ratio);
    background-color: red;
    position: relative;
    overflow: hidden;
    color: var(--color-white);
}
.slider .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0s;
    transition: all 0.75s;
}
.slider.showSlide1 .slides {
    left: 0;
}
.slider.showSlide2 .slides {
    left: -100%;
}
.slider.showSlide3 .slides {
    left: -200%;
}

.slider .slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slider .slides .slide .contentText {
    text-align: center;
    position: absolute;
    width: 100%;
    color: var(--color-white);
    bottom: var(--space-4);
}

h2 {
    padding-bottom: var(--space-1);
}

.slider .slides .slide img {
    width: 100%;
    object-fit: cover;
}
.slider .slides .slide2  {
    left: 100%;
}
.slider .slides .slide3  {
    left: 200%;
}

.buttons {
    color: #000;
    font-size: var(--space-3);
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: var(--color-button);
    text-align: center;
}
.buttons .left,
.buttons .right {
    height: 100%;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.buttons .right:hover,
.buttons .left:hover{
    color: var(--color-white);
}
.buttons .left{
    background: linear-gradient(to left, rgba(0,0,0,0.05) 25%, #000);
}
.buttons .right{
    background: linear-gradient(to right, rgba(0,0,0,0.05) 25%, #000);

}
.content {
    text-align: center;
}

.dots {
    display: flex;
    justify-content: center;
    gap: var(--space-1);
    position: absolute;
    bottom: var(--space-1);
    width: 100%;
}
.dots .dot .solid{
    display: none;
}
.dots .dot.showDot .solid{
    display: block;
}
.dots .dot.showDot .hollow{
    display: none;
}